@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar .menu-item-div {
  margin: 15px;
  margin-right: 30px;
}

.navbar .menu-item-div p {
  font-size: 24px;
}

.navbar .menu-item-div p:hover {
  cursor: pointer;
}

.hero-banner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.hero-banner .avatar img {
  height: 300px;
  width: 500px;
  border-radius: 999px;
  box-shadow: 0px 5px 10px -5px #000000ff;
}

.user-name h1{
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 1288px;
    margin: 0px auto;
}

.row {
    display: flex;
    justify-content: center;
}

.skills img{
    height:200px;
    width: 200px;
    animation: ease-in .3s;
}

.skills img:hover {
    transform: scale(2,2)
}

.skills .wrap {
    Display: flex;
    position:absolute;
}

.skills .css, .skills .js{
    margin-top: 50px;
}

.navbar .menu-item-div a{
    text-decoration: none;
    color: black;
}